{{#each copy.city}}
<div class='city-wrapper' id='{{minimap}}-link'>
	<p class='tk-canela x-large city-hed'>{{city}}</p>
	<div class='us-map'>
		<img src='assets/images/{{minimap}}.png' alt='{{city}}'>
	</div>
	<div class='map-wrapper'>
		<div class='mini-map-wrapper'>
			<div class='mini-map'></div>
			<p class='tk-atlas small'>All same sex</p>
		</div>
		<div class='mini-map-wrapper'>
			<div class='mini-map'></div>
			<p class='tk-atlas small'>Male</p>
		</div>
		<div class='mini-map-wrapper'>
			<div class='mini-map'></div>
			<p class='tk-atlas small'>Female</p>
		</div>
	</div>
	<p>{{{text}}}</p>
</div>
{{/each}}
