{{#each copy.city}}
<div class='city-wrapper' id='{{minimap}}-link'>
	<p class='tk-canela x-large city-hed'>{{city}}</p>
	<div class='city-name-svg'>
		<img src='assets/images/{{minimap}}-name.png' alt='{{city}} name'>
	</div>
	<div class='us-map'>
		<img src='assets/images/{{minimap}}.png' alt='{{city}} map'>
	</div>
	<div class='map-wrapper'>
		<div class='mini-map-wrapper'>
			<div class='mini-map'>
				<img src='assets/images/{{minimap}}-mapSS.jpg' alt='{{city}} same-sex index map'>
			</div>
			<p class='tk-atlas small'>Gayborhoods</p>
		</div>
		<div class='mini-map-wrapper'>
			<div class='mini-map'>
				<div class='mini-map'><img src='assets/images/{{minimap}}-mapMM.jpg' alt='{{city}} same-sex index map'></div>
			</div>
			<p class='tk-atlas small'>Male gayborhoods</p>
		</div>
		<div class='mini-map-wrapper'>
			<div class='mini-map'>
				<div class='mini-map'><img src='assets/images/{{minimap}}-mapFF.jpg' alt='{{city}} same-sex index map'></div>
			</div>
			<p class='tk-atlas small'>Female gayborhoods</p>
		</div>
	</div>
	<p>{{{text}}}</p>
</div>
{{/each}}
