{{#each copy.city}}
<div class='city-wrapper' id='{{minimap}}-link'>
	<p class='tk-canela x-large city-hed'>{{city}}</p>
	<div class='city-name-svg'>
		<img src='assets/images/{{minimap}}-name.png' alt='{{city}} name'>
	</div>
	<div class='us-map'>
		<img src='assets/images/{{minimap}}.png' alt='{{city}} map'>
	</div>
	<div class='map-wrapper'>
		{{#ifEquals minimap 'Atlanta'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Atlanta-SS }}
						{{> story/scale-s}}
				</div>
        <div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
            {{> ai2html/Atlanta-FF }}
						{{> story/scale-g}}
        </div>
        <div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
            {{> ai2html/Atlanta-MM }}
						{{> story/scale-g}}
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Austin'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Austin-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Austin-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Austin-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Boston'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Boston-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Boston-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Boston-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Chicago'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Chicago-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Chicago-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Chicago-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Denver'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Denver-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Denver-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Denver-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Houston'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Houston-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Houston-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Houston-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'LosAngeles'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/LosAngeles-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/LosAngeles-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/LosAngeles-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Miami'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Miami-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Miami-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Miami-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'NewOrleans'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/NewOrleans-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/NewOrleans-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/NewOrleans-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'NewYork'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/NewYork-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/NewYork-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/NewYork-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Philadelphia'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Philadelphia-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Philadelphia-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Philadelphia-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Portland'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Portland-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Portland-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Portland-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'SanFrancisco'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/SanFrancisco-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/SanFrancisco-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/SanFrancisco-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Seattle'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/Seattle-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/Seattle-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/Seattle-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
		{{#ifEquals minimap 'WashingtonDC'}}
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>All</p>
						{{> ai2html/WashingtonDC-SS }}
						{{> story/scale-s}}
				</div>
				<div class='mini-map-wrapper'>
					<p class='chart-label tk-atlas small'>Same-sex female</p>
						{{> ai2html/WashingtonDC-FF }}
						{{> story/scale-g}}
				</div>
				<div class='mini-map-wrapper'>
						<p class='chart-label tk-atlas small'>Same-sex male</p>
						{{> ai2html/WashingtonDC-MM }}
						{{> story/scale-g}}
				</div>
    {{/ifEquals}}
	</div>
	<div class='text-wrapper'>
		<p>{{{text}}}</p>
	</div>
</div>
{{/each}}
