{{#each copy.city}}
<div class='city-wrapper' id='{{minimap}}-link'>
	<p class='tk-canela x-large city-hed'>{{city}}</p>
	<div class='city-name-svg'>
		<img src='assets/images/{{minimap}}-name.png' alt='{{city}} name'>
	</div>
	<div class='us-map'>
		<img src='assets/images/{{minimap}}.png' alt='{{city}} map'>
	</div>
	<div class='map-wrapper'>
		{{#ifEquals minimap 'Atlanta'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Atlanta-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Atlanta-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Austin'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Austin-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Austin-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Boston'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Boston-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Boston-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Chicago'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Chicago-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Chicago-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Denver'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Denver-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Denver-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Houston'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Houston-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Houston-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'LosAngeles'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/LosAngeles-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/LosAngeles-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Miami'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Miami-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Miami-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'NewOrleans'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/NewOrleans-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/NewOrleans-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'NewYork'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/NewYork-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/NewYork-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Philadelphia'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Philadelphia-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Philadelphia-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Portland'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Portland-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Portland-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'SanFrancisco'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/SanFrancisco-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/SanFrancisco-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'Seattle'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/Seattle-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/Seattle-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
		{{#ifEquals minimap 'WashingtonDC'}}
        <div class='mini-map-wrapper'>
            {{> ai2html/WashingtonDC-FF }}
            <p class='chart-label tk-atlas small'>Same-sex female concentration</p>
        </div>
        <div class='mini-map-wrapper'>
            {{> ai2html/WashingtonDC-MM }}
						<p class='chart-label tk-atlas small'>Same-sex male concentration</p>
        </div>
    {{/ifEquals}}
	</div>
	<p>{{{text}}}</p>
</div>
{{/each}}
