<section id='scroll'>
	<div class='scroll__graphic sticky'>
		<div id='scrollMap' class='map'></div>
	</div>
	<div class='scroll__text'>
		<div class='step' data-step='1'>
				<div class='step-wrapper'>
					{{#each copy.stepOne}}
					<p>{{{value}}}</p>
					{{/each}}
				</div>
		</div>
		<div class='step' data-step='2'>
			<div class='step-wrapper'>
				{{#each copy.stepTwo}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</div>
		<div class='step' data-step='3'>
			<div class='step-wrapper'>
				{{#each copy.stepThree}}
				<p>{{{value}}}</p>
				{{/each}}
				{{> story/scale-s }}
			</div>
		</div>
		<div class='step' data-step='4'>
			<div class='step-wrapper'>
				{{#each copy.stepFour}}
				<p>{{{value}}}</p>
				{{/each}}
				 {{> story/scale-g }}
			</div>
		</div>
		<div class='step' data-step='5'>
			<div class='step-wrapper'>
				{{#each copy.stepFive}}
				<p>{{{value}}}</p>
				{{/each}}
				 {{> story/scale-g }}
			</div>
		</div>
	</div>
</section>
